
@{
    ViewBag.Title = "Activity";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<style>
    .table-input {
        display: inline-block !important;
    }

        .table-input input {
            width: 60px !important;
            height: 23px !important;
            float: right !important;
        }
</style>
<div ng-controller="ActivityCtrl">
    <div class="content-wrapper ibox float-e-margins">
        <div class="ibox-title">
            <h5>电商扶贫</h5>
            <div class="ibox-tools refresh">
                <button type="button" class="btn btn-primary btn-sm" ng-click="refresh()"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
        <div class="ibox-content">
            <form class="form-inline toolbar">
                <div class="form-group">
                    <label class="control-label second-key-long">年份：</label>
                    <select class="form-control input-sm" ng-options="x for x in year" ng-model="search.number1"></select>
                </div>
                <div class="form-group">
                    <label class="control-label second-key-long">名称：</label>
                    <input type="text" placeholder="请输入名称关键字" class="form-control input-sm" ng-model="search.string1">
                </div>
                <div class="form-group">
                    <label class="control-label second-key-long">状态：</label>
                    <select class="form-control input-sm" ng-options="x.id as x.name for x in state_search" ng-model="search.number2"></select>
                </div>
                <button class="btn btn-primary btn-sm toolbar-btn" ng-click="get()">搜索</button>
                <button class="btn btn-primary btn-sm toolbar-btn" ng-click="reset()">重置</button>
                <button class="btn btn-primary btn-sm toolbar-btn toolbar-btn-right" ng-click="add_show()">添加</button>
            </form>
            <table class="layui-table">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col width="150">
                </colgroup>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>编号</th>
                        <th>活动名称</th>
                        <th>服务</th>
                        <th>小组名称</th>
                        <th>创建时间</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="d in data">
                        <td>{{d.id}}</td>
                        <td>{{d.number}}</td>
                        <td>{{d.name}}</td>
                        <td>{{d.abilityname}}</td>
                        <td>{{d.teamname}}</td>
                        <td>{{d.time}}</td>
                        <td>
                            <span class="label label-warning" ng-if="d.state==0">进行中</span>
                            <span class="label label-primary" ng-if="d.state==1">已完成</span>
                        </td>
                        <td>
                            <i class="fa fa-users icon-table icon-edit3" ng-click="preview(d)" title="扶贫对象"></i>
                            <i class="fa fa-edit icon-table icon-edit2" ng-if="d.state==0" ng-click="edit_show(d)" title="修改"></i>
                            <i class="fa fa-trash icon-table icon-delete" ng-click="delete(d)" title="删除"></i>
                            <i class="fa fa-check icon-table icon-edit3" ng-if="d.state==0" ng-click="finish_show(d)" title="帮扶汇报"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div id="page"></div>
        </div>
    </div>
    <div id="modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">编号</label>
                            <div class="col-sm-10">
                                <input class="form-control" ng-model="model.number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="model.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">服务</label>
                            <div class="col-sm-10">
                                <select class="form-control input-sm" ng-options="x.id as x.name for x in ability" ng-model="model.abilityid"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">扶贫小组</label>
                            <div class="col-sm-10">
                                <select class="form-control input-sm" ng-options="x.id as x.name for x in team" ng-model="model.teamid"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">创建时间</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="time1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">扶贫对象</label>
                            <div class="col-sm-10">&nbsp;</div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">&nbsp;</label>
                            <div class="col-sm-11">
                                <div id="transfer"></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" data-dismiss="modal">取消</button>
                    <button class="btn btn-primary btn-sm" ng-if="model.id==null" ng-click="add()">新增</button>
                    <button class="btn btn-primary btn-sm" ng-if="model.id!=null" ng-click="edit()">保存</button>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-preview" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <table class="layui-table">
                        <colgroup>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>姓名</th>
                                <th>家庭人口</th>
                                <th>收益(元)</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="d in selectPoor">
                                <td>{{d.id}}</td>
                                <td>{{d.name}}</td>
                                <td>{{d.population}}</td>
                                <td>{{d.profit}}</td>
                                <td>
                                    <form class="form-horizontal table-input">
                                        <div class="input-group">
                                            <input type="text" class="form-control" ng-if="d.able" ng-model="d.profit">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-primary btn-xs" ng-if="!d.able" ng-click="d.able=!d.able">修改收益</button>
                                                <button type="button" class="btn btn-primary btn-xs" ng-if="d.able" ng-click="setProfit(d)">保存</button>
                                                <button type="button" class="btn btn-primary btn-xs" ng-if="d.able" ng-click="d.able=!d.able">取消</button>
                                            </span>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-finish" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">成果反馈</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" ng-model="model.result"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">意见建议</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" ng-model="model.suggest"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" data-dismiss="modal">取消</button>
                    <button class="btn btn-primary btn-sm" ng-click="finish()">提交</button>
                </div>
            </div>
        </div>
    </div>
</div>

