
@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div ng-controller="TeamCtrl">
    <div class="content-wrapper ibox float-e-margins">
        <div class="ibox-title">
            <h5>扶贫小组</h5>
            <div class="ibox-tools refresh">
                <button type="button" class="btn btn-primary btn-sm" ng-click="refresh()"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
        <div class="ibox-content">
            <form class="form-inline toolbar">
                <div class="form-group">
                    <label class="control-label second-key-long">名称：</label>
                    <input type="text" placeholder="请输入名称关键字" class="form-control input-sm" ng-model="search.string1">
                </div>
                <button class="btn btn-primary btn-sm toolbar-btn" ng-click="get()">搜索</button>
                <button class="btn btn-primary btn-sm toolbar-btn" ng-click="reset()">重置</button>
                <button class="btn btn-primary btn-sm toolbar-btn toolbar-btn-right" ng-click="add_show()">添加</button>
            </form>
            <table class="layui-table">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col width="150">
                </colgroup>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>小组名称</th>
                        <th>服务</th>
                        <th>队长</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="d in data">
                        <td>{{d.id}}</td>
                        <td>{{d.name}}</td>
                        <td>{{d.abilityname}}</td>
                        <td>{{d.leadername}}</td>
                        <td>
                            <i class="fa fa-users icon-table icon-edit3" ng-click="preview(d)" title="小组成员"></i>
                            <i class="fa fa-edit icon-table icon-edit2" ng-click="edit_show(d)" title="修改"></i>
                            <i class="fa fa-trash icon-table icon-delete" ng-click="delete(d)" title="删除"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div id="page"></div>
        </div>
    </div>
    <div id="modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="model.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">服务</label>
                            <div class="col-sm-10">
                                <select class="form-control input-sm" ng-options="x.id as x.name for x in ability" ng-model="model.abilityid"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">网格员</label>
                            <div class="col-sm-10" style="color:red;font-weight:bold;margin-top:7px;">*右侧排序第一人为小组组长*</div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">&nbsp;</label>
                            <div class="col-sm-11">
                                <div id="transfer"></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" data-dismiss="modal">取消</button>
                    <button class="btn btn-primary btn-sm" ng-if="model.id==null" ng-click="add()">新增</button>
                    <button class="btn btn-primary btn-sm" ng-if="model.id!=null" ng-click="edit()">保存</button>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-preview" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <table class="layui-table">
                        <colgroup>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col width="150">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>姓名</th>
                                <th width="120">电话</th>
                                <th width="105">职能</th>
                                <th>职位</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="d in member">
                                <td>{{d.id}}</td>
                                <td><strong ng-if="d.id==model.leaderid">【组长】</strong>{{d.name}}</td>
                                <td>{{d.phone}}</td>
                                <td>{{d.abilityname}}</td>
                                <td>{{d.position}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
