
@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}
<div ng-controller="IndexCtrl">
    <div ng-view></div>
    <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default">
        <ul class="am-navbar-nav am-cf am-avg-sm-4">
            <li>
                <a href="{{setting.app}}">
                    <span class="am-icon-mobile"></span>
                    <span class="am-navbar-label">APP</span>
                </a>
            </li>
            <li>
                <a href="{{setting.cwgk+'/home/newindex'}}">
                    <span class="am-icon-home"></span>
                    <span class="am-navbar-label">首页</span>
                </a>
            </li>
            <li>
                <a href="{{setting.cwgk+'/home/newmy'}}">
                    <span class="am-icon-user"></span>
                    <span class="am-navbar-label">我的</span>
                </a>
            </li>
        </ul>
    </div>
    @*<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default">
            <ul class="am-navbar-nav am-cf am-avg-sm-4">
                <li>
                    <a href="#/newstype">
                        <span class="am-icon-home"></span>
                        <span class="am-navbar-label">新闻</span>
                    </a>
                </li>
                <li>
                    <a href="#/message">
                        <span class="am-icon-commenting"></span>
                        <span class="am-navbar-label">消息</span>
                        <span class="am-badge am-badge-danger am-round" style="position:absolute;top:5px;" ng-if="message.count!=0" ng-bind="message.count"></span>
                    </a>
                </li>
                <li>
                    <a href="#/my">
                        <span class="am-icon-user"></span>
                        <span class="am-navbar-label">我的</span>
                    </a>
                </li>
            </ul>
        </div>*@
</div>
