<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>桦川县村务公开专属网格资源平台</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <link href="~/UI/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/UI/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/UI/css/animate.css" rel="stylesheet" />
    <link href="~/UI/css/style.css" rel="stylesheet" />
    <link href="~/Content/cwgk_admin.css" rel="stylesheet" />
</head>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:scroll;" ng-app="app">
    @RenderBody()
    <script src="~/UI/js/jquery.min.js"></script>
    <script src="~/UI/js/bootstrap.min.js"></script>
    <script src="~/UI/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/UI/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/UI/js/hplus.js"></script>
    <script src="~/UI/js/contabs.js"></script>
    <script src="~/UI/js/plugins/pace/pace.min.js"></script>
    <script src="~/ueditor/ueditor.config.js"></script>
    <script src="~/ueditor/ueditor.all.js"></script>
    <script src="~/layui/layui.all.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/util.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script src="~/Scripts/cwgk_admin.js"></script>
</body>
</html>
