<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>桦川县电商扶贫专属网格资源平台</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <link href="~/AmazeUI/assets/css/amazeui.css" rel="stylesheet" />
    <link href="~/Content/dsfp_home.css" rel="stylesheet" />
</head>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:scroll;" ng-app="app">
    @RenderBody()
    <script src="~/UI/js/jquery.min.js"></script>
    <script src="~/AmazeUI/assets/js/amazeui.js"></script>
    <script src="~/layui/layui.all.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/util.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script src="~/Scripts/dsfp_home.js"></script>
</body>
</html>
