
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>桦川县特色网格资源平台</title>
    <style>
        html, body {
            padding: 0;
            margin: 0;
            height: 100%;
        }

        body {
            position: relative;
            background-image: url('/Image/datav.png');
            background-size: 100% 100%;
        }

            body > a {
                display: block;
                position: absolute;
                /*background: rgba(255, 0, 0,.5);*/
            }

        .l1 {
            width: 33%;
            height: 20%;
            top: 20%;
            left: 0;
        }

        .l2 {
            width: 33%;
            height: 23%;
            top: 45%;
            left: 0;
        }

        .l3 {
            width: 33%;
            height: 20%;
            top: 70%;
            left: 0;
        }

        .r1 {
            width: 36%;
            height: 26%;
            top: 20%;
            right: 0;
        }

        .r2 {
            width: 33%;
            height: 18%;
            top: 46%;
            right: 0;
        }

        .r3 {
            width: 38%;
            height: 22%;
            top: 69%;
            right: 0;
        }
    </style>
</head>
<body>
    <a class="l1" href="https://datav.aliyuncs.com/share/01b74518b812c67f62f52441faae8ec0"></a>
    <a class="l2" href="https://datav.aliyuncs.com/share/ddc3e8cb12b6d848d7a9993e5503fc90"></a>
    <a class="l3" href="https://datav.aliyuncs.com/share/75a8fb2f5f3feb86f4c8a01992dea9a5"></a>
    <a class="r1" href="https://datav.aliyuncs.com/share/8ec06ad14e852a2765c9ab12460a7fa3"></a>
    <a class="r2" href="https://datav.aliyuncs.com/share/71d89581b1259e2589eb3aac03739a31"></a>
    <a class="r3" href=""></a>
</body>
</html>
