
@{
    ViewBag.Title = "新闻互动";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div ng-controller="NewsTalkCtrl">
    <div class="content-wrapper ibox float-e-margins">
        <div class="ibox-title">
            <h5>新闻互动</h5>
            <div class="ibox-tools refresh">
                <button type="button" class="btn btn-primary btn-sm" ng-click="refresh()"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
        <div class="ibox-content">
            <form class="form-inline toolbar">
                <div class="form-group">
                    <label class="control-label first-key-short">村镇：</label>
                    <select class="form-control input-sm" ng-options="x.code as x.name for x in xzqh_search" ng-model="search.string1"></select>
                </div>
                <div class="form-group">
                    <label class="control-label second-key-long">分类：</label>
                    <select class="form-control input-sm" ng-options="x.id as x.name for x in type_search" ng-model="search.number1"></select>
                </div>
                <div class="form-group">
                    <label class="control-label second-key-long">状态：</label>
                    <select class="form-control input-sm" ng-options="x.id as x.name for x in state_search" ng-model="search.number2"></select>
                </div>
                <div class="form-group">
                    <label class="control-label second-key-long">标题：</label>
                    <input type="text" placeholder="请输入标题关键字" class="form-control input-sm" ng-model="search.string2">
                </div>
                <button class="btn btn-primary btn-sm toolbar-btn" ng-click="get()">搜索</button>
                <button class="btn btn-primary btn-sm toolbar-btn" ng-click="reset()">重置</button>
            </form>
            <table class="layui-table">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col width="160">
                    <col>
                    <col>
                    <col width="150">
                </colgroup>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>村镇</th>
                        <th>类型</th>
                        <th>新闻</th>
                        <th>网格员</th>
                        <th>管理员</th>
                        <th>时间</th>
                        <th>提问</th>
                        <th>回复</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="d in data">
                        <td>{{d.id}}</td>
                        <td>{{d.xzqhname}}</td>
                        <td>{{d.typename}}</td>
                        <td>{{d.newstitle}}</td>
                        <td>{{d.username}}</td>
                        <td>{{d.adminname}}</td>
                        <td>{{d.time|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td><div class="dot">{{d.question}}</div></td>
                        <td><div class="dot">{{d.answer}}</div></td>
                        <td>
                            <i class="fa fa-edit icon-table icon-edit2" ng-click="edit_show(d)" title="预览/回复"></i>
                            <i class="fa fa-trash icon-table icon-delete" ng-click="delete(d)" title="删除"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div id="page"></div>
        </div>
    </div>
    <div id="modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">提问</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="3" disabled>{{model.question}}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">图片</label>
                            <div class="col-sm-10">
                                <img ng-src="{{'/Upload/'+f.filename}}" ng-repeat="f in files" style="height:100px;margin-right:10px;" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">回复</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="3" ng-model="model.answer"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" data-dismiss="modal">取消</button>
                    <button class="btn btn-primary btn-sm" ng-if="model.id==null" ng-click="add()">回复</button>
                    <button class="btn btn-primary btn-sm" ng-if="model.id!=null" ng-click="edit()">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>




