
@{
    Layout = null;
}

<header class="am-header am-header-default">
    <div class="am-header-left am-header-nav" ng-click="back()">
        <a>
            <i class="am-header-icon am-icon-chevron-left"></i>
        </a>
    </div>
    <h1 class="am-header-title">
        <a>电商扶贫</a>
    </h1>
    <div class="am-header-right am-header-nav" ng-click="add_show()">
        <a>
            <i class="am-header-icon am-icon-plus"></i>
        </a>
    </div>
</header>
<div class="content-wrapper">
    <div class="am-list-news am-list-news-default">
        <div class="am-titlebar am-titlebar-default">
            <h2 class="am-titlebar-title">电商扶贫</h2>
        </div>
        <div class="am-input-group" style="margin-bottom:10px;">
            <select class="am-form-field" style="width:50%;" ng-options="x for x in year" ng-model="search.number1"></select>
            <select class="am-form-field" style="width:50%;" ng-options="x.id as x.name for x in state_search" ng-model="search.number2"></select>
            <span class="am-input-group-btn">
                <button class="am-btn am-btn-primary" ng-click="get()">搜索</button>
            </span>
        </div>
        <div class="am-panel-group" id="accordion">
            <div class="am-panel am-panel-default" ng-repeat="d in data">
                <div class="am-panel-hd" data-am-collapse="{parent: '#accordion', target: '#do-not-say-{{$index}}'}" ng-click="preview(d)">
                    <h4 class="am-panel-title">
                        {{d.name}}
                    </h4>
                </div>
                <div id="do-not-say-{{$index}}" class="am-panel-collapse am-collapse" ng-class="{'am-in':$index==0}">
                    <div class="am-panel-bd" style="position:relative;">
                        <div class="panel-handle">
                            <span ng-click="edit_show(d)" style="color:#0e90d2;">[修改]</span>
                            <span ng-click="delete(d)" style="color:red;">[删除]</span>
                        </div>
                        <div><strong>活动编号：</strong>{{d.number}}</div>
                        <p><strong>活动名称：</strong>{{d.name}}</p>
                        <p><strong>扶贫服务：</strong>{{d.abilityname}}</p>
                        <p><strong>扶贫小组：</strong>{{d.teamname}}</p>
                        <p><strong>创建时间：</strong>{{d.time}}</p>
                        <p>
                            <strong>状态：</strong>
                            <span style="color:orange;" ng-if="d.state==0">进行中</span>
                            <span style="color:green;" ng-if="d.state==1">已完成</span>
                        </p>
                        <table class="am-table">
                            <tr>
                                <th>ID</th>
                                <th>姓名</th>
                                <th>人口</th>
                                <th>收益</th>
                            </tr>
                            <tr ng-repeat="p in d.poor">
                                <td>{{p.id}}</td>
                                <td>{{p.name}}</td>
                                <td>{{p.population}}</td>
                                <td ng-click="profit_show(p,d)">{{p.profit}}&nbsp;&nbsp;<i class="am-icon-edit"></i></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="page"></div>
    </div>
</div>
<div class="am-modal am-modal-no-btn" tabindex="-1" id="modal">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">
            小组
            <a class="am-close am-close-spin" data-am-modal-close>&times;</a>
        </div>
        <div class="am-modal-bd" style="text-align:left;">
            <form class="am-form">
                <div class="am-form-group">
                    <label>编号</label>
                    <input type="text" ng-model="model.number">
                </div>
                <div class="am-form-group">
                    <label>名称</label>
                    <input type="text" ng-model="model.name">
                </div>
                <div class="am-form-group">
                    <label>服务</label>
                    <select class="form-control input-sm" ng-options="x.id as x.name for x in ability" ng-model="model.abilityid"></select>
                </div>
                <div class="am-form-group">
                    <label>扶贫小组</label>
                    <select class="form-control input-sm" ng-options="x.id as x.name for x in team" ng-model="model.teamid"></select>
                </div>
                <div class="am-form-group">
                    <label>创建时间</label>
                    <input type="text" id="time1">
                </div>
                <div class="am-form-group">
                    <input type="text" ng-model="keyword" placeholder="扶贫对象姓名筛选">
                </div>
                <div style="height:200px;overflow-y:auto;margin-bottom:10px;">
                    <div ng-repeat="x in poor|filter:keyword" ng-click="x.select=!x.select" style="line-height:30px;">
                        <i class="checkbox {{x.select?'am-icon-check-square-o':'am-icon-square-o'}}" }"></i>
                        <span>{{x.name}}</span>
                    </div>
                </div>
                <button class="am-btn am-btn-primary am-btn-block" ng-if="model.id==null" ng-click="add()">保存</button>
                <button class="am-btn am-btn-primary am-btn-block" ng-if="model.id!=null" ng-click="edit()">保存</button>
            </form>

        </div>
    </div>
</div>
<div class="am-modal am-modal-no-btn" tabindex="-1" id="modal-profit">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">
            扶贫增收
            <a class="am-close am-close-spin" data-am-modal-close>&times;</a>
        </div>
        <div class="am-modal-bd" style="text-align:left;">
            <form class="am-form">
                <div class="am-form-group">
                    <label>增收</label>
                    <input type="text" ng-model="tempPoor.profit">
                </div>
                <button class="am-btn am-btn-primary am-btn-block" ng-click="setProfit()">保存</button>
            </form>

        </div>
    </div>
</div>
<div class="am-modal am-modal-no-btn" tabindex="-1" id="modal-finish">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">
            扶贫汇报
            <a class="am-close am-close-spin" data-am-modal-close>&times;</a>
        </div>
        <div class="am-modal-bd" style="text-align:left;">
            <form class="am-form">
                <div class="am-form-group">
                    <label>成果反馈</label>
                    <textarea ng-model="model.result"></textarea>
                </div>
                <div class="am-form-group">
                    <label>成果反馈</label>
                    <textarea ng-model="model.suggest"></textarea>
                </div>
                <button class="am-btn am-btn-primary am-btn-block" ng-click="setProfit()">保存</button>
            </form>

        </div>
    </div>
</div>
