
@{
    Layout = null;
}

<header class="am-header am-header-default">
    <div class="am-header-left am-header-nav" ng-click="back()">
        <a>
            <i class="am-header-icon am-icon-chevron-left"></i>
        </a>
    </div>
    <h1 class="am-header-title">
        <a>电商扶贫</a>
    </h1>
</header>
<div class="content-wrapper">
    <div class="am-list-news am-list-news-default">
        <div class="am-titlebar am-titlebar-default">
            <h2 class="am-titlebar-title">电商扶贫</h2>
        </div>
        <div class="am-input-group" style="margin-bottom:10px;">
            <select class="am-form-field" style="width:50%;" ng-options="x for x in year" ng-model="search.number1"></select>
            <select class="am-form-field" style="width:50%;" ng-options="x.id as x.name for x in state_search" ng-model="search.number2"></select>
            <span class="am-input-group-btn">
                <button class="am-btn am-btn-primary" ng-click="get()">搜索</button>
            </span>
        </div>
        <div class="am-panel-group" id="accordion">
            <div class="am-panel am-panel-default" ng-repeat="d in data">
                <div class="am-panel-hd" data-am-collapse="{parent: '#accordion', target: '#do-not-say-{{$index}}'}" ng-click="preview(d)">
                    <h4 class="am-panel-title">
                        {{d.name}}
                    </h4>
                </div>
                <div id="do-not-say-{{$index}}" class="am-panel-collapse am-collapse" ng-class="{'am-in':$index==0}">
                    <div class="am-panel-bd">
                        <p><strong>活动编号：</strong>{{d.number}}</p>
                        <p><strong>活动名称：</strong>{{d.name}}</p>
                        <p><strong>扶贫服务：</strong>{{d.abilityname}}</p>
                        <p><strong>扶贫小组：</strong>{{d.teamname}}</p>
                        <p><strong>创建时间：</strong>{{d.time}}</p>
                        <p>
                            <strong>状态：</strong>
                            <span style="color:orange;" ng-if="d.state==0">进行中</span>
                            <span style="color:green;" ng-if="d.state==1">已完成</span>
                        </p>
                        <table class="am-table">
                            <tr>
                                <th>ID</th>
                                <th>姓名</th>
                                <th>人口</th>
                            </tr>
                            <tr ng-repeat="p in d.poor">
                                <td>{{p.id}}</td>
                                <td>{{p.name}}</td>
                                <td>{{p.population}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="page"></div>
    </div>
</div>
